<!--
  This template loads for the 'tab.about' state (app.js)
-->
<ion-view title="About Hackergarten Messenger">
  <ion-content has-header="true" has-tabs="true" padding="true">
    <img src="img/ionic.png" class="ionic-logo">
    <p>
      This is a simple Notification project using the Ionic Framework and Cordova's AeroGear's Push Plugin
    </p>
    <p>
      Stay up-to-date with the Ionic 
      <a href="http://ionicframework.com/subscribe/" target="_blank">newsletter</a> and 
      <a href="https://twitter.com/Ionicframework" target="_blank">twitter</a> account.
    </p>
    <p>
      MIT Licensed. Happy coding.
    </p>
  </ion-content>
</ion-view>
